@import "atoms/normalize";
@import "atoms/variables";

@import "molecules/globals";

.poker-clock {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;

  &__primary {
    background: rgba($color-accent, 0.1);
    background-image: radial-gradient(ellipse at 50% 0%, rgba($color-accent, 0.2) 10%, transparent 100%);
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;

    .timer {
      flex-grow: 1;
    }
  }

  &__secondary {
    min-height: 185px;
    overflow: hidden;
    position: relative;

    &::before {
      top: -20px;
      border-radius: 50%;
      box-shadow: 0 0 30px 20px rgba($color-black, 0.5);
      content: '';
      height: 15px;
      left: 5%;
      position: absolute;
      width: 90%;
    }
  }
}
