@import "~normalize-scss";

@include normalize();

* {
  box-sizing: border-box;
}

.clear {
  clear: both;
}

img {
  height: auto;
  max-width: 100%;
}

svg,
embed,
iframe,
object,
video {
  max-width: 100%;
}

html,
body {
  background: #000000;
  color: #efefef;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

a {
  color: #ffffff;
  outline: none;
  text-decoration: none;
  transition: background 150ms, border-color 250ms, color 250ms, opacity 250ms;

  &:hover,
  &:focus {
    color: #eeeeee;
  }
}

p:first-child {
  margin-top: 0;
}

p:last-child {
  margin-bottom: 0;
}
