@import "atoms/mixins";

.level-info {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: center;
  padding: 4% 0;

  @include vertical-layout() {
    align-items: center;
    flex-direction: row;
  }

  .level {

    @include vertical-layout() {
      width: 33.33333%;
    }

    &--current {
      font-size: 1.5em;
    }

    &--previous,
    &--next {
      opacity: 0.5;
    }
  }
}
