@import "atoms/variables";

.poker-settings {
  background: rgba($color-black, 0.25);
  border-radius: 3px;
  border: 1px solid rgba($color-accent, 0.2);
  box-shadow: 0 0 3px rgba($color-black, 0.2);
  display: flex;
  margin: 5px 15px 25px;
  overflow-y: auto;
}
