@import "atoms/variables";

.level-info {
  display: table;
  min-height: 185px;
  overflow: hidden;
  padding: 4% 0;
  position: relative;
  width: 100%;

  .level {
    display: table-cell;
    vertical-align: middle;
    width: 33.33333%;

    &--current {
      font-size: 1.5em;
    }

    &--previous,
    &--next {
      opacity: 0.5;
    }
  }

  &::before {
    top: -20px;
    border-radius: 50%;
    box-shadow: 0 0 30px 20px rgba($color-black, 0.5);
    content: '';
    height: 15px;
    left: 5%;
    position: absolute;
    width: 90%;
  }
}
