@import "atoms/normalize";
@import "atoms/variables";
@import "atoms/mixins";

@import "molecules/globals";

.poker-clock {
  display: flex;
  height: 100%;
  text-align: center;

  @include vertical-layout() {
    flex-direction: column;
  }

  &__primary {
    background: rgba($color-accent, 0.1);
    background-image: radial-gradient(ellipse at 50% 0%, rgba($color-accent, 0.2) 10%, transparent 100%);
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    overflow: hidden;

    .timer {
      flex: 1 1 auto;
    }
  }

  &__secondary {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 10px 20px 0;
    position: relative;

    @include vertical-layout() {
      min-height: 185px;
    }

    &::before {
      top: 5%;
      border-radius: 50%;
      box-shadow: 0 0 30px 20px rgba($color-black, 0.5);
      content: '';
      height: 90%;
      left: -20px;
      position: absolute;
      width: 15px;

      @include vertical-layout() {
        height: 15px;
        top: -20px;
        left: 5%;
        width: 90%;
      }
    }
  }
}
